<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Правка отчёта</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en,ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="../static/reset.css" rel="stylesheet">
</head>
<body>
<!--<form class="form-horizontal" th:action="@{/report}" th:object="${report}" action='' method="post">-->
<form class="form-horizontal" action="#" th:action="@{/edit/${id}}" th:object="${report}" method="post">
    <fieldset>
        <div id="legend">
            <legend class="text">New Report</legend>
        </div>
        <div class="control-group">
            <label class="control-label" >Дата</label>
            <div class="controls">
                <input type="date" placeholder="Дата" class="input-medium" th:field="*{date}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Номер товарного чека</label>
            <div class="controls">
                <input type="text" placeholder="Номер товарного чека" class="input-medium" min="0" required pattern="^[0-9]+$" th:field="*{number}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Сумма заказа</label>
            <div class="controls">
                <input type="text"  placeholder="Сумма заказа" class="input-medium" min="0" pattern="^[0-9]+$" th:field="*{cost}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Оплата при оформлении</label>
            <div class="controls">
                <input type="text"  placeholder="Оплата при оформлении" class="input-medium" min="0" pattern="^[0-9]+$" th:field="*{prepayment}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Оплата при получении</label>
            <div class="controls">
                <input type="text" placeholder="Оплата при получении" class="input-medium" min="0" pattern="^[0-9]+$" th:field="*{payment}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Расход</label>
            <div class="controls">
                <input type="text" placeholder="Расход" class="input-medium" min="0" pattern="^[0-9]+$" th:field="*{consumption}">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Примечание</label>
            <div class="controls">
                <input type="text" placeholder="Примечание" class="input-medium" th:field="*{description}">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-success" th:action="@{/reports}" >Сохранить</button>
            </div>
        </div>
    </fieldset>
</form>

</body>
</html>