<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en,ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<!--&lt;!&ndash;<editor-fold desc="Old">&ndash;&gt;-->
<!--<div class="container">-->
    <!--<form action="#" method="post">-->
        <!--<div class="row">-->
            <!--<div class="span5">-->
                <!--<table class="table table-striped table-condensed">-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<th>Номер заказа</th>-->
                        <!--<th>Дата</th>-->
                        <!--<th>Номер товарного чека</th>-->
                        <!--<th>Сумма заказа</th>-->
                        <!--<th>Оплата при оформлении</th>-->
                        <!--<th>Оплата при получении</th>-->
                        <!--<th>Расход</th>-->
                        <!--<th>Примечание</th>-->
                    <!--</tr>-->
                    <!--<tr th:each="report : ${reports}" th:action="@{/report}">-->
                        <!--<td th:text="${report.id}"/>-->
                        <!--<td th:text="${report.date}"/>-->
                        <!--<td th:text="${report.number}"/>-->
                        <!--<td th:text="${report.cost}"/>-->
                        <!--<td th:text="${report.prepayment}"/>-->
                        <!--<td th:text="${report.payment}"/>-->
                        <!--<td th:text="${report.consumption}"/>-->
                        <!--<td th:text="${report.description}"/>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--&lt;!&ndash;</editor-fold>&ndash;&gt;-->

<div class="container">
    <form action="#" th:action="@{/reports}" th:object="${reportDto}" method="post">
        <div class="row">
            <div class="span5">
                <table class="table table-striped table-condensed table-bordered">
                    <tbody>
                    <tr>
                        <th>Номер заказа</th>
                        <th>Дата</th>
                        <th>Номер товарного чека</th>
                        <th>Сумма заказа</th>
                        <th>Оплата при оформлении</th>
                        <th>Оплата при получении</th>
                        <th>Расход</th>
                        <th>Примечание</th>
                        <th></th>
                    </tr>
                    <tr th:each="report : ${reports}" th:action="@{/report}">
                        <td th:text="${report.id}"></td>
                        <td th:text="${report.date}"></td>
                        <td th:text="${report.number}"></td>
                        <td th:text="${report.cost}"></td>
                        <td th:text="${report.prepayment}"></td>
                        <td th:text="${report.payment}"></td>
                        <td th:text="${report.consumption}"></td>
                        <td th:text="${report.description}"></td>
                        <td><input type="radio" th:field="*{id}" th:value="${report.id}" class="w3-radio"/></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div class="container centered-top center-block">
    <div class="btn-group" role="group">
        <form action="#" th:action="@{/report}" method="get">
            <button type="submit" class="btn btn-primary center-block">Новый отчёт</button>
        </form>
    </div>
    <div class="btn-group" role="group">
        <form action="#" th:action="@{/balance}" method="get">
            <button type="submit" class="btn btn-primary center-block">Текущий остаток</button>
        </form>
    </div>
    <div class="btn-group" role="group">
        <form action="#" th:action="@{/edit/${id}}" method="get">
            <button type="submit" class="btn btn-primary center-block">Править отчёт</button>
        </form>
    </div>
    <div class="btn-group" role="group">
        <form action="#" th:action="@{/reports}" method="get">
            <button type="submit" class="btn btn-primary center-block">Удалить отчёт</button>
        </form>
    </div>
</div>
</body>
</html>